
<h1>Create Dance Class: </h1>
<br>
<br>
<form method="POST" action="/dance_classes">
<p>Style: <input type="text" name="style"/></p>
<p>Level: <input type="text" name="level"/></p>
<p>Teacher: <input type="text" name="teacher"/></p>
<p>Studio: <input type="text" name="studio"/></p>
<p>Class Description: <input type="text" name="description"/></p>
<input type="submit" value= "Create Dance Class" id= "submit"/>
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>