<h1>Insert the form to create a new instance of your model.</h1>

<h1>Create Dance Class: </h1>

<form method="POST" action="/dance_classes">
<p>Style: <input type="text" name="style"/></p>
<p>Level: <input type="text" name="level"/></p>

<input type="submit" value= "Create Dance Class" id= "submit"/>
</form>