
    <h1>Sign Up Dancer</h1>
    <form action="/signup" method="POST">
        <label for="email">Email: </label>
        <input type="text" name="email" placeholder="Email:">

        <label for="password">Password: </label>
        <input type="password" name="password" placeholder="Password:">
        <input type="submit" value="Sign Up">
    </form>