<h1> Welcome to the PDX Dance Classes App!</h1>
<br>
<h3><p>This app was created to link all of the dance community together through new classes, master classes, pop up classes, battles, sessions, and regular weekly classes!</p>
<p>Theres no wrong way to use this app, just be clear to explain details about the class/classes you want to share with the community!</p></h3>
<br>
<h4>**Start by creating an account, to acces the tools to create and post your classes to our Community page.**</h4>
<br>
<br>
<br>
<br>
<h2><p>We Can't wait to Collab with You!!<p></h2>
<br>

