<h1> Update Studio </h1>
<form method="POST" action="/studios/<%=@studio.id%>">

<input type="hidden" name="_method" value="PATCH"/>

<br>
<br>
#<p>Level: <input type="text" name="dance_class[level]" value="<%=@dance_class.level%>"/></p>

<p>Studio: <input type="text" name="studio[name]" value="<%=@studio.studio.name%>"/></p>
<p>Studio Address: <input type="text" name="studio[address]" value="<%=@studio.address%>"/></p>

<br>
<br>
<input type="submit" value= "Update Studio" id= "submit"/>
</form>