<h1>Create Dance Studio: </h1>
<br>
<br>
<form method="POST" action="/studios">
<p>Studio Name: <input type="text" name="name"/></p>
<br>
<p>Studio Address: <input type="text" name="address"/></p>
<br>
<br>
<br>
<br>
<input type="submit" value= "Create Dance Studio" id= "submit"/>
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>